{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Firefighters data Integration Platform</title>
    <meta
      name="viewport"
      content="width=device-width,height=device-height,initial-scale=1.0"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      href="{% static 'Firefighters_data_Integration_Platform/styles.css' %}"
      rel="stylesheet"
    />

    <!-- Mapbox -->
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.js"></script>
    <link
      href="https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.css"
      rel="stylesheet"
    />

    <!-- Leaflet -->
     <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
   integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
   crossorigin=""/>
   <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
   integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
   crossorigin=""></script>
   
<!--  Leaflet Routing Machine -->
   <link rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css" />
<link rel="stylesheet" href="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.css" />
<script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js"></script>
<script src="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.js"></script>
  

<!--  GraphHopper -->
 <script src="https://cdn.jsdelivr.net/npm/graphhopper-js-api-client/dist/graphhopper-client.js"></script>
</head>
  <body id="body-container">
      <div id="main-menu">
        <nav class="navbar navbar-expand-lg">
          <h1 id="site-title">Firefighters data Integration Platform</h1>

          <div id="search_form">
            <form class="form-inline my-2 my-lg-0">
              <input
                class="form-control mr-sm-2"
                type="search"
                placeholder="Search"
                aria-label="Search"
              />
              <button class="btn btn-success" type="submit">Search</button>
            </form>
          </div>
        </nav>
      </div>

      <div id="top-nav-menu">
        <nav>
          <div class="navbar-nav"></div>
        </nav>
      </div>
    </div>
    <div id="left-main-right-container">
      <div id="left-nav-menu">
        <nav>
          <div class="navbar-nav"></div>
        </nav>
      </div>

      <div class="main-view"></div>
      <div id="right-nav-menu">
        <nav>
          <div class="navbar-nav"></div>
        </nav>
      </div>
    </div>

    <div id="bottom-nav-menu">
      <nav>
        <div class="navbar-nav"></div>
      </nav>
    </div>

    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>

    <script src="{% static 'Firefighters_data_Integration_Platform/view_functions.js' %}"></script>
    <script src="{% static 'Firefighters_data_Integration_Platform/functions.js' %}"></script>

    <script src="{% static 'Firefighters_data_Integration_Platform/index.js' %}"></script>
  </body>
</html>
