/* body property */
html,
body {
  display: flex;
  margin: 0px;
  height: 100%;
  flex-direction: column;
}
#body-container {
  width: 100%;
}

.row {
  height: 100%;
  padding-bottom: 55px;
}

/* search item menu property */
#search_form {
  margin-left: auto;
}
/* left navigation menu property */

#left-nav-menu {
  max-width: 250px;
  padding-left: 0px;
}

#left-nav-menu nav {
  height: 100%;
  padding-left: 50px;
  max-width: 250px;
}
#left-nav-menu nav div {
  height: 100%;
  justify-content: space-between;
}

/* right navigation menu property */

#right-nav-menu {
  max-width: 250px;
  padding-left: 50px;
  height: 100%;
}

#right-nav-menu nav {
  height: 100%;
}
#right-nav-menu nav div {
  height: 100%;
  justify-content: space-between;
}
/* Top navigation menu property */

#top-nav-menu nav div {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  justify-content: space-between;
  padding-left: 200px;
  padding-right: 200px;
  height: 100%;
  justify-content: space-between;
}

/* Bottom navigation menu property */
#bottom-nav-menu {
  position: fixed;
  bottom: 0px;
  width: 100%;
}
#bottom-nav-menu nav div {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  justify-content: space-between;
  padding-left: 200px;
  padding-right: 200px;
}
/* main view menu property */

#main-view {
  flex-grow: 1;
}
